body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  height: 400px;
  overflow: hidden;
}

#counterlayout {
  position: relative;
  width: 100px;
  top: 60px; 
  /* offset sogenannter top:xy */

  margin: auto;
  padding: 4px;

  color: white;
  border: 1px solid white;
  border-radius: 5px;

  text-align: center;
}

button {
  background-color: black;
  color: white;
  border: 0;
  padding: 24px;
}

button:hover {
  cursor: pointer;
  color: red;
}
